{include file="common/meta" /}
<style>
.form-horizontal .form-label {
    width:160px;
}
</style>
</head>
<body>
<!-- menu -->
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 分类管理 
	<span class="c-gray en">&gt;</span> 分类列表 
	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" 
	href="javascript:location.replace(location.href);" title="刷新" >
	<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<!-- content -->
<article class="page-container">
	<form action="{:url('deal/add')}" method="post" class="form form-horizontal" id="form-member-add">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">商品名称</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="" name="name">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所在城市</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box" style="width:180px;">
					  <select name="city_id" class="select cityId">
	                  <option value="0">--请选择--</option>
	                  {volist name="citys" id="vo"}
	                  <option value="{$vo.city_id}">{$vo.city_name}</option>
	                  {/volist}
	                </select>
				</span> 
				-
				<span class="select-box" style="width:180px;">
					<select name="se_city_id" class="select city_parent_id">
						<option value="0">--请选择--</option>
					</select>
				</span>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">支持门店</label>
			<div class="formControls col-xs-8 col-sm-9">
				<div class="check-box">
		          {volist name="bislocations" id="vo"}
		          <input name="location_ids[]" type="checkbox" id="checkbox" value="{$vo.id}"/>{$vo.name}
		          {/volist}
        </div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">缩略图</label>
			<div class="formControls col-xs-8 col-sm-9">
				 <input id="file_upload"  type="file" multiple="true" >
       		 	<img style="display: none" id="upload_org_code_img" src="" width="150" height="150">
        		<input id="file_upload_image" name="image" type="hidden" multiple="true" value="">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">团购开始时间</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="start_time" name="start_time">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">团购结束时间</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="end_time" name="end_time">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所属分类</label>
			<div class="formControls col-xs-8 col-sm-9"> 
				<span class="select-box" style="width:280px;">
					<select name="category_id" class="select categoryId">
	                  <option value="0">--请选择--</option>
	                  {volist name="categorys" id="vo"}
	                  <option value="{$vo.category_id}">{$vo.category_name}</option>
	                  {/volist}
	                </select>
				</span> 
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">所属子类</label>
			<div class="formControls col-xs-8 col-sm-9">
				 <div class="check-box se_category_id">
        		</div>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">库存数</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="total_count" name="total_count">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">原价</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="origin_price" name="origin_price">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">团购价</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="current_price" name="current_price">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">消费券生效时间</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="coupons_begin_time" name="coupons_begin_time">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">消费券结束时间</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="" 
				placeholder="请输入分类名称" id="coupons_end_time" name="coupons_end_time">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">团购描述</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="description" id="description" cols="30" rows="10"></textarea>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">团购须知</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="notes" id="notes" cols="30" rows="10"></textarea>
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"></label>
			<div class="formControls col-xs-8 col-sm-9">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
				<button onClick="layer_close();" class="btn btn-default radius" type="button">
				&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
			</div>
		</div>

	</form>
</article>
<script src="__STATIC__/admin/lib/ue/ueditor.config.js"></script>
<script src="__STATIC__/admin/lib/ue/ueditor.all.min.js"></script>
{include file="common/foot" /}
<script>
	var ue = UE.getEditor("description");
	var ue = UE.getEditor("notes");
	var SCOPE = {
	    "city_url" : "{:url('api/city/get_city_two')}",
	    "category_url" : "{:url('api/category/get_category_two')}",
	    "uploadify_swf" : "__STATIC__/admin/uploadify/uploadify.swf",
	    "image_upload" : "{:url('api/image/upload')}",
	};

</script>
</body>
</html>