{include file="common/meta" /}
</head>
<body>
<!-- menu -->
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 
  	<span class="c-gray en">&gt;</span> 规划管理
  	<span class="c-gray en">&gt;</span> 添加规划
    <!-- 刷新 -->
  	<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" 
  	href="javascript:location.replace(location.href);" title="刷新" >
  	<i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<!-- content -->
<div class="page-container">
	<form method="post" class="form form-horizontal" action="#" 
    id="form-article-add" enctype="multipart/form-data">
      <!-- text -->
  		<div class="row cl">
  			<label class="form-label col-xs-4 col-sm-2" style="width:160px;">方案名称</label>
  			<div class="formControls col-xs-8 col-sm-9">
  				<input type="text" class="input-text" value="" placeholder="请输入方案名称" 
  				id="plan_name" name="plan_name">
  			</div>
  		</div>
      <!-- select -->
      <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2" style="width:160px;">方案类型</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <span class="select-box">
                    <select name="type_id" id="type_id" class="select">
                        <volist name="type" id="v">
                            <option value=""></option>
                        </volist>
                    </select>
                </span> 
            </div>
        </div>
      <!-- textarea -->
		  <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2" style="width:160px;">方案内容</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="plan_descr" id="plan_descr" style="height:400px;"></textarea>
            </div>
      </div>
      <!-- button -->
       <div class="row cl">
          <label class="form-label col-xs-4 col-sm-2" style="width:160px;"></label>
          <div class="formControls col-xs-8 col-sm-9">
          <button class="btn btn-primary radius btn_submit" type="button">
              <i class="Hui-iconfont">&#xe632;</i> 保存并提交
          </button>
          <button 
              onClick="history.go(-1);" class="btn btn-default radius" type="button">&nbsp;返回&nbsp;
          </button>
          </div>
      </div>
	</form>
</div>
{include file="common/foot" /}
<!-- baidu editor -->
<script src="__STATIC__/admin/lib/ue/ueditor.config.js"></script>
<script src="__STATIC__/admin/lib/ue/ueditor.all.min.js"></script>
<script src="__STATIC__/study/common.js"></script>
</body>
</html>
<script>
/* baidu editor */
var ue = UE.getEditor("plan_descr");
var page_url = {
    'save_url' : "{:url('StudyPlan/plan_add_save')}",
    'list_url' : "{:url('StudyPlan/plan_list')}",
}
</script>