ul{list-style:none;}
p{margin:0;padding:0;}
.message_hr{margin-bottom:10px;}

.explain{padding:10px 0;color:#666;letter-spacing:3px;}
.explain span{color:green;font-weight:bold;}
.explain a{color:orange;font-weight:bold;}


.dis-modular{width:100%;text-align:center;padding:30px 0;}
.dis-modular a{display:inline-block;border:3px solid rgb(0,191,68);padding:8px 36px;
              color:#666;border-radius:5px;
               }
.dis-modular a.a-Active{ background:rgb(0,191,68);color:#fff;}
.dis-modular a:first-child{transform:translateX(11px)}











.information-container ul li{overflow:hidden;border-bottom:1px solid #ddd;padding:10px 0;}




.infImage img{border-radius:50%;width:62px;}


.infImage{margin-left:10px;width:10%;float:left;margin-top:14px;}
.infTxt{width:88%;float:right;}
.infTxt p{color:#666;line-height:30px;width:100%;}
.infTxt p:first-child{color:orange;}


.infTxt p span{margin:0 5px;}


.infTxt p:nth-child(2) a{float:right;}

.infTxt p:nth-child(2) span{display:inline-block;padding-right:10px;border-right:1px solid #ddd;height:20px;
                              line-height:20px;color:#666;}

.infTxt p:nth-child(2) span:nth-child(3){border:none;}
.infTxt p:nth-child(2) span:first-child{padding-left:0px;}

.infTxt p:nth-child(2) select{margin-left:250px;padding:5px 2px;border-color:#ddd;
                             border-radius:5px;color:#666;}
                             
.infTxt p:nth-child(2) select option{}                             
/*consultation*/

.csl-container{width:100%;background:rgb(246,242,243)}
.csl-container>div{width:1200px;margin:0  auto;padding:15px 10px ;background:#fff;}
div.call-div{background:rgb(246,242,243)}
.call-div a{color:#666;display:block;}

.call-div a span{margin-left:3px;}





.cls-main ul li{overflow:hidden;border-bottom:1px solid #ddd;padding:10px 0;}




.infImage1 img{border-radius:50%;width:62px;}


.infImage1{margin-left:10px;width:6%;float:left;margin-top:14px;}
.infTxt1{width:92%;float:right;}
.infTxt1 p{color:#666;line-height:30px;width:100%;}
.infTxt1 p:first-child{color:orange;}


.infTxt1 p:first-child span{margin-left:5px;}


.infTxt1 p:nth-child(2) a{float:right;margin-right:50px;height:30px;background:rgb(1,191,69);padding:0 8px;color:#fff;}

.infTxt1 p:nth-child(3) span{display:inline-block;padding:0px 10px;border-right:1px solid #ddd;}

.infTxt1 p:nth-child(3) span:last-child{border:none;}
.infTxt1 p:nth-child(3) span:first-child{padding-left:0px;}
.infTxt1 p:nth-child(3){padding-bottom:5px}

.spanTow{color:red}


.doc-describe{float:left;width:14%;color:#666;}
.describe-txt{float:left;width:84%;color:#000;}
.describe-txt img{margin:5px}
.describe-txt div{width:100%;}


.char-left{float:left;width:60%;}

.char-right{float:right;width:60%;   text-align:right;padding-right:20px;}
.char-left span,.char-right span{margin-right:10px;color:#666;}

.char-left .s1{color:orange}
.char-right .s1{color:green}


.char-right div{background:rgb(106,251,158);padding:5px 10px;
                  margin-top:5px;float:right;}
.char-left div{padding:5px 10px;margin-top:5px;}

.cls-main>ul>li:last-child{border:none;}







.reply-container{text-align:center;margin-top:50px;position:relative;padding:20px 0;
                  border-bottom:1px solid #ddd;}



.reply-container input{width:360px;height:34px;padding:0 35px 0 5px;}

.reply-container img{position:absolute;}

.upDocument{top:20px;left:335px;border:1px solid #ddd;}

.pen{top:21px;left:700px;border-left:1px solid #ddd;}


.reply-container a{background:rgb(239,106,15);color:#fff;display:inline-block;width:70px;height:32px;line-height:32px;}







.main-bottom{background:rgb(247,247,247);margin-top:20px;padding:20px 20px 0 ;}


.ipt-txt{overflow:hidden;margin-bottom:20px;}

.prompt-Txt{float:left;padding:10px;}










.textarea-div{float:left;width:80%;}

.textarea-div textarea{width:100%;color:#666;border-color:#ddd;padding:10px}


.add-click{}

.add-click button{width:160px;height:30px;font-size:16px;color:rgb(36,165,84);}



.choose-radio{padding:20px 0px;}

.choose-radio span{margin:0 20px 0 5px;color:#666;}



.bottom-btn{text-align:center;padding:20px 0;}

.bottom-btn button{width:120px;height:50px;color:#fff;font-size:14px;background:rgb(239,106,15)}





/*referral*/
.infTxt .referralA{display:inline-block;width:90px;height:36px;background:rgb(1,191,69);color:#fff;
                  text-align:center;line-height:36px;}
                  


.hr-ipt{width:250px;height:36px;margin-left:92px;padding:0 32px 0 10px}

.message_hr img{position:absolute;top:10px;left:672px;border-left:1px solid #ddd;padding-left:5px;}
.message_hr{position:relative;}


.black-ul{margin-top:30px;}
.black-div{float:right;}
.black-div a{display:block;color:#666;font-size:10px;transform:translateY(-35px);padding-bottom:3px}
