<include file="Common/meta" />
</head>
<body>
<!-- menu -->
<nav class="breadcrumb">
	<i class="Hui-iconfont">&#xe67f;</i> 首页 
	<span class="c-gray en">&gt;</span> 程序人生 
	<span class="c-gray en">&gt;</span> 程序列表 
	<!-- 刷新 -->
	<a class="btn btn-success radius r" 
		style="line-height:1.6em;margin-top:3px" 
		href="javascript:location.replace(location.href);" title="刷新" >
		<i class="Hui-iconfont">&#xe68f;</i>
	</a>
</nav>
<!-- content -->
<div class="page-container" style="margin-top:-20px;">
<div class="tcl pd-5 mt-20"> 
		<form action="{:U('News/program_list')}" method="post">
		<!-- text -->
		<input type="text" name="program_title" id="program_title" placeholder=" 请输入程序标题" 
		style="width:250px" value="{$program.program_title}" class="input-text">
		<!-- select -->
		<span class="select-box inline">
		<select name="type_id" class="select">
			<option value="">请选择类型</option>
			<foreach name="type" item="v">
			<option value="{$v.type_id}" 
			<eq name="v.type_id" value="$program.type_id">selected</eq>>{$v.type_name}</option>
			</foreach>
		</select>
		</span> 
		<!-- date -->
		<input type="text" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',
		Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
		id="datemin" class="input-text Wdate" value="{$program.from}"
		style="width:200px;" name="from" placeholder="&nbsp;请输选择时间"> 
		- 
	    <input type="text" 
	    onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss',Date:'#F{$dp.$D(\'datemin\') or \'%y-%M-%d\'}'})" 
	    id="datemin" class="input-text Wdate" value="{$program.to}"
	    style="width:200px;" name="to" placeholder="&nbsp;请输选择时间">
		<!-- button -->
	    <button name="" id="" class="btn btn-success" type="submit">
		<i class="Hui-iconfont">&#xe665;</i> 搜程序人生</button>
		</form>
	</div>
<div class="cl pd-5 bg-1 bk-gray mt-20" style="margin-top:10px;"> 
	<span class="l">
	<!-- delete -->
		<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius">
		<i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> 
		<!-- add -->
		<a href="{:U('Program/program_add')}" class="btn btn-success more_coupon">添加程序人生</a>
	</span>
	<!-- total -->
	<span class="r" style="line-height:30px;">
		共有数据&nbsp;&nbsp;
		<strong>{$program.count}</strong>&nbsp;&nbsp;条
	</span> 
</div>
	<div class="mt-20" style="margin-top:10px;">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="40"><input type="checkbox" name="" value=""></th>
				<th>ID</th>
				<th>程序标题</th>
				<th>程序类型</th>
				<th>程序内容</th>
				<th>发布时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<volist name="program.program" id="vo">
				<tr class="text-c">
					<td><input type="checkbox" value="{$vo.program_id}" name="dataid" id="dataid" _id="{$vo.program_id}">
					<td>{$vo.program_id}</td>
					<td class="text-l">&nbsp;&nbsp;&nbsp;&nbsp;{$vo.program_title}</td>
					<td>{$vo.type_name}</td>
					<td class="text-l">&nbsp;&nbsp;&nbsp;&nbsp;{$vo.program_nr|strip_tags|mb_substr=###,0,36,'utf-8'}</td>
					<td>{$vo.program_time}</td>
					<td class="td-manage"> 
						<!-- edit -->
						<a title="编辑" href="{:U('Program/program_mod',array('program_id'=>$vo['program_id']))}" 
							class="ml-5" 
							style="text-decoration:none">
							<i class="Hui-iconfont">&#xe6df;</i>
						</a>&nbsp;&nbsp;
						<!-- delete -->
						<a style="text-decoration:none" class="ml-5" 
							onClick="del(this,{$vo['program_id']})" href="javascript:;" title="删除">
							<i class="Hui-iconfont">&#xe6e2;</i>
						</a>
					</td>
				</tr>
			</volist>
			<tr><td colspan=9 style="text-align:center;">{$program.link}</td></tr>
		</tbody>
	</table>
	</div>
</div>
<include file="Common/foot" />
<script src="__PUBLIC__/study/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/lib/My97DatePicker/WdatePicker.js"></script> 
</body>
</html>
<script>
var page_url = {
    'save_del' : "{:U('Program/program_del')}",
    'list_url' : "{:U('Program/program_list')}",
}
</script>
