<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe613;</i> 规划管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('StudyPlan/plan_add')}" data-title="添加规划" 
					href="javascript:void(0)">添加规划</a></li>

					<li><a _href="{:url('StudyPlan/plan_list')}" data-title="规划列表" 
					href="javascript:void(0)">规划列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-article">
			<dt>
				<i class="Hui-iconfont">&#xe616;</i> 成长记录
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('Share/share_list')}" data-title="成长记录" 
					href="javascript:void(0)">成长记录</a></li>

					<li><a _href="{:url('LifeTime/life_list')}" data-title="成长考核" 
					href="javascript:void(0)">成长考核</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-product">
			<dt>
				<i class="Hui-iconfont">&#xe620;</i> 工作记录
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('Study/study_list')}" data-title="工作记录" 
					href="javascript:void(0)">工作记录</a></li>

					<li><a _href="{:url('WorkTime/work_list')}" data-title="工作考核" 
					href="javascript:void(0)">工作考核</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe622;</i> 程序人生
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('Program/program_add')}" data-title="添加程序" 
					href="javascript:void(0)">添加程序</a></li>

					<li><a _href="{:url('Program/program_list')}" data-title="程序列表" 
					href="javascript:void(0)">程序列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-tongji">
			<dt>
				<i class="Hui-iconfont">&#xe61a;</i> 财务管理
				<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('Money/money_list')}" data-title="财务列表" 
					href="javascript:void(0)">财务列表</a></li>

					<li><a _href="{:url('Money/type_list')}" data-title="分类列表" 
					href="javascript:void(0)">分类列表</a></li>

				</ul>
			</dd>
		</dl>

		<dl id="menu-system">
			<dt>
			<i class="Hui-iconfont">&#xe62e;</i> 系统设置
			<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i>
			</dt>
			<dd>
				<ul>

					<li><a _href="{:url('System/system_base')}" data-title="系统设置" 
					href="javascript:void(0)">系统设置</a></li>
					
				</ul>
			</dd>
		</dl>

	</div>
</aside>